<section class="hero is-dark is-large is-bold">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-6">
                <div class="has-text-centered">
                    <h1 class="title">
                        Welcome to Hobby Square
                    </h1>
                    <h2 class="subtitle">
                        Create your account to manage your hobbies
                    </h2>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="subtitle">Register</h2>
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Full name">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="email" placeholder="Email">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="phone" placeholder="Phone number">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-danger">Register</button>
                    </div>
                </div>
                <p>Already have have an account ? <a class="has-text-danger" routerLink="/login">Log in</a></p>
            </div>
        </div>
    </div>
</section>