<section style="margin-top: 50px;margin-bottom: 50px;">
    <div class="columns is-centered">
        <div class="column is-6">
            <h2 class="title">My Hobbies</h2>
            <br>
            <button class="button is-link is-rounded is-outlined">
                <span>Add new Hobby</span>
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
            </button>
            <br><br>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Football
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        Played with a ball
                        <br>
                        <time datetime="2016-1-1">Added 6 days ago</time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item has-text-danger"><i class="fa fa-heart"></i></a>
                    <a href="#" class="card-footer-item">Remove</a>
                </footer>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Football
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        Played with a ball
                        <br>
                        <time datetime="2016-1-1">Added 6 days ago</time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item has-text-dark"><i class="fa fa-heart"></i></a>
                    <a href="#" class="card-footer-item">Remove</a>
                </footer>
            </div>

        </div>
    </div>
</section>