<section style="margin-top: 50px;margin-bottom: 50px;">
    <div class="columns is-centered">
        <div class="column is-6">
            <h2 class="title">My Hobbies</h2>
            <br>
            <button class="button is-link is-rounded is-outlined" (click)="openDialog()">
                <span>Add new Hobby</span>
                <span class=" icon is-small ">
                  <i class="fas fa-plus "></i>
                </span>
            </button>
            <br><br>
            <p *ngIf="!hobbies || hobbies.length < 1 ">No Hobbies added yet !</p>
            <div *ngIf="hobbies && hobbies.length> 0">
                <div class="card" *ngFor="let hobby of hobbies">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ hobby.name }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ hobby.description }}
                            <br>
                            <time datetime="2016-1-1"> {{ hobby.created }}</time>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" [class]="hobby.favorite ? 'card-footer-item has-text-danger' : 'card-footer-item has-text-dark'"><i class="fa fa-heart"></i></a>
                        <a href="#" class="card-footer-item">Remove</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>