<section style="margin-top: 50px;margin-bottom: 50px;">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4 has-text-centered">
                <img class="avatar" src="https://api.adorable.io/avatars/116/yoha" width="150">
                <h2>
                    <span class="has-text-danger"><i class="fa fa-user"></i></span>
                    <br>John Ayeni
                </h2>
                <br>
                <h2>
                    <span class="has-text-danger"><i class="fa fa-envelope"></i></span>
                    <br>john@mail.com
                </h2>
                <br>
                <h2>
                    <span class="has-text-danger"><i class="fa fa-phone"></i></span>
                    <br>09090888789
                </h2>
                <br>
                <h2>
                    <span class="has-text-danger"><i class="fa fa-gamepad"></i></span>
                    <br>Football, Coding, Tennis
                </h2>
            </div>
        </div>
    </div>
</section>